{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "all",
    "bracketSpacing": false,
    "vueIndentScriptAndStyle": false,
    "endOfLine": "lf"
}
